
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


body {
    font-family: Questrial , sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201e1e;
}


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 25px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


h1 {
    color: white;
}

h2 {
    color: #333;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}


nav {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}


.progress-wrapper {
    text-align: center;
}

progress {
    width: 600px;
    height: 40px;
}


section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

/* 
ul {
    list-style: none;
    padding: 0;
}
*/

/* 
ul li {
    margin: 5px 0;
}
*/
