
/* General Reset */
* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}


/* Links Styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Body Styling */
body {
    font-family: Questrial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201e1e;
}


/* Grid Buttons */
.grid-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.grid-button {
    display: inline-block;
    background-color: #343434;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.grid-button:hover {
    background-color: #5e5e5e;
}


.section-button-1 {
    background-color: #d50000;
}
.section-button-1:hover {
    background-color: #ff1744;
}

.section-button-2 {
    background-color: #00579e;
}
.section-button-2:hover {
    background-color: #3478af;
}

.section-button-3 {
    background-color: #e79717;
}
.section-button-3:hover {
    background-color: #f0b626;
}

.section-button-4 {
    background-color: #aa00d9;
}
.section-button-4:hover {
    background-color: #c451d8;
}


/* Header Styling */
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    color: #333;
    padding-bottom: 5px;
}

h3 {
    font-style: italic;
    padding: 5px;
}


/* Isometric Styling */
.triangle-grid {
    background-image: url("data/isometric_grid.png");
    background-size: 100px 86.6px;
    background-repeat: repeat;
}



/* Navigation Styling */
nav {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #444;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}


/* Image Styling */
.center-image {
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 90%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Section Styling */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* Tooltip Styling */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* Table Styling */
table {
    margin: 20px auto;
    border: 1px solid black;
    width: 100%;
    background-color: #ffffff;
}

th, td {
    border: 1px solid black;
    padding: 10px 30px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #ffffff;}


/* Progress Bar Styling */
.progress-wrapper {
    text-align: center;
}

progress {
    width: 90%;
    max-width: 600px;
    height: 40px;
}


/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


/* Media Queries */
@media (max-width: 768px) {
    .center-image {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    section {
        margin: 15px;
    }

    progress {
        height: 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    nav ul li a {
        padding: 8px 10px;
    }

    progress {
        height: 20px;
    }

    footer {
        font-size: 0.9rem;
    }
}
